@use 'variables';

.sobre-nosotros {

  main.sobre-nosotros {
  padding-bottom: 70px;
}

  h2 {
    margin-bottom: 1rem;
    color: variables.$color-accent;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: variables.$color-text;
  }
}
